<h1>Roles#index</h1>
<p>Find me in app/views/roles/index.html.erb</p>
<table>
<% @roles.each do |role| %>
	<tr>
		<td>
			<%= role.name %>
		</td>
		<td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) if user_can?(:update, role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete if user_can?(:delete, role)  %></td>

	</tr>
<% end %>
</table>
	<br/>
